#rInfo{

	background-color: green;
}

.row{
		height: 6.250em;
		background-color: green;
}

#movImage{
	
}

.imgStyle{
		height: 3.125em;
		width: 3.125em;
}

#movName{
	
}

.homePage{
	height: 80vw;
}

.quantity-box{
	height: 1.5em;
	width: 1.5em;

}