/*MovieDetails.jsx*/
#rInfo{
	background-color: green;
}

/*MovieListing.jsx*/
#movImage{
	
}

.imgStyle{
	height: 3.125em;
	width: 3.125em;
}

#movName{
	
}

.movDescRow{
	height: 6.250em;
	background-color: green;
}

/*App.jsx
 * padding-top: 50px if used fixed-top navbar*/
#domMain{
    background-color: #c0deed;
}

/*Home.jsx*/
#homeParent{
}

/*Header.jsx*/
.header{
}

/*Footer.jsx*/
.footer{
	background-color: #0080ff;
	text-align: center;
}

/*Booking.jsx*/
.quantity-box{
	height: 1.5em;
	width: 2em;
}


.listingTime{
}
    
/*Navbar.jsx*/
#mainNav{
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
    margin-bottom: 0;
}

/*Carousel.jsx*/
.carousel-inner img{
    height: 200px;
}

/*Offers.jsx*/
#offerParent{
	height: 30em;
	padding-bottom: 2em;
}

#offerParent p{
	font-family: "Roboto", "Helvetica", "FF DIN";
}

#offerHeadings{
	padding-top: 0.5em;
	font-size: 24px;
	text-align: center;
}

.offerRow{
	height: 30em;
}

.offerPanels{
	background-color: green;
	height: 25em;
	width: 25em;
	display: inline-block;
}

#offer1{
	background-image:url("./images/offers/broffer.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	height: 100%;
	width: 100%;
	margin: auto;
	border-style: dotted;
}

#offer1 p{
	color: white;
	text-align: center;
	background-color: orange;
}

/* #offer1 h2{
	font-family: "Myriad",Lucida Grande;
	color: white;
	text-align: center;
} */