/*MovieDetails.jsx*/
#rInfo{
	background-color: green;
}

/*MovieListing.jsx*/
#movImage{
	
}

.imgStyle{
	height: 3.125em;
	width: 3.125em;
}

#movName{
	
}

.movDescRow{
	height: 6.250em;
	background-color: green;
}

/*App.jsx
* padding-top: 50px if used fixed-top navbar*/
#domMain{
	background-color: #c0deed;
	/*c0deed*/
}

/*Home.jsx*/
#homeParent{
}

/*Header.jsx*/
.header{
}

/*Footer.jsx*/
.footer{
	background-color: #0080ff;
	text-align: center;
}

/*Booking.jsx*/
.quantity-box{
	height: 1.5em;
	width: 2em;
}


.listingTime{
}

/*Navbar.jsx*/
#mainNav{
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	margin-bottom: 0;
}

/*Carousel.jsx*/
.carousel-inner img{
	height: 200px;
}

/*Offers.jsx*/

#offerParent{
	height: 30em;
	
}

#offerParent p{
	font-family: "Roboto", "Helvetica", "FF DIN";
}

#offerHeadings{
	padding-top: 0.5em;
	font-size: 24px;
	text-align: center;
}

.offerRow{
	height: 28em;
}

.offerPanels{
	text-align: center;
	/*background-color: green;*/
	height: 25em;
	width: 25em;
	display: inline-block;
}

.offers{
/*	background-image:url("./images/offers/broffer.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	height: 100%;
	width: 100%;
	margin: auto;*/

	height: 80%;
	width: 80%;
	/*border: dotted;*/
	text-align: center;
	padding-bottom: 1.3em;
	margin: 0 auto;
}

.offers img{
	max-height: 100%;
	max-widght: 100%;
	
	position: relative;
	
}

.offers p{
	color: black;
	font-weight: bold;
	text-align: center;
	background-color: orange;
	position: relative; 
	width: 73%;
	float: right;
	left: -13%;
}

.offerText{
	
	margin-right: 2em;
	margin-left: 2em;
	text-align: center;
	color: black;
}

.list-group-item span{
	color: black;
}

/*TopFilms.jsx*/
.topFilmRow{
	background-color: #84bcd8;
	padding-top: 1em;
	padding-bottom: 2em;
}

.topFilmHeader{
	text-align: center;
	font-family: "Roboto", "Helvetica", "FF DIN";
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 0.5em;
}

#popular_film_headings{
	font-size: 24px;
	text-align: center;
}

.popular_film_1 img{
	text-align: center;
	position: relative;
	max-height: 80%;
	max-width: 80%;
/*	border: dotted;*/
}


.popular_film_2 img{
	text-align: center;
	position: relative;
	max-height: 80%;
	max-width: 80%;
}

.popular_film_3 img{
	text-align: center;
	position: relative;
	max-height: 80%;
	max-width: 80%;
}

.popular_film_1:hover .overlay{
	opacity: 0.75;
}

.popular_film_2:hover .overlay{
	opacity: 0.75;
}

.popular_film_3:hover .overlay{
	opacity: 0.75;
}



.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 1em;
	right: 0;
	height: 100%;
	width: 20.7em;
	opacity: 0;
	transition: .5s ease;
	background-color: #808080;
}

.overlayText{
	color: black;
	font-size: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);

}

/*Overlay.jsx*/
#quick_book_bar{
    height: 80px;
    background-color: #15338d;
    text-align: center;
   
}

.quick_book_bar_container select{
    background-color: aqua;
    background: linear-gradient(to bottom, black, gray);
    color: aqua;
    text-align: center;
    margin-right: 60px;
    margin-top: 2%;
    